/TI 1.1/WS_CONUNI_SOAPJAVA_G04/02 CLIWEB/ClienteWeb/target/
/TI 1.1/WS_CONUNI_SOAPJAVA_G04/02 CLIWEB/ClienteWeb_ConvUni/target/
/TI1.3/REST_JAVA_CONUNI_GR04/01.SERVIDOR/WS_ConUni_REST_JAVA_GR04/dist/
# Node modules y dependencias
node_modules/
**/node_modules/
/TI1.3/REST_JAVA_CONUNI_GR04/02.CLIESC/CLIESC_CONVUNI_REST_JAVA/nbproject/private/
/TI1.3/REST_JAVA_CONUNI_GR04/02.CLIESC/CLIESC_CONVUNI_REST_JAVA/build/
/TI1.3/REST_JAVA_CONUNI_GR04/02.CLIWEB/nbproject/private/
/TI1.3/REST_JAVA_CONUNI_GR04/02.CLIWEB/build/
